static/assets/icons/batata.svg
static/assets/icons/check-circle.svg
static/assets/icons/clock.svg
static/assets/icons/dollar-sign.svg
static/assets/icons/down-arrow.svg
static/assets/icons/eye.svg
static/assets/icons/orange-right-arrow.svg
static/assets/icons/right-arrow.svg
static/assets/icons/trending-down.svg
static/assets/icons/trending-up.svg
static/assets/img/Bitcoin.svg
static/assets/img/bitcoinbaby.jpg
static/assets/img/bitcoinbaby.png
static/assets/img/bitcoinbaby2x.jpg
static/assets/img/bitcoinbaby2x.png
static/assets/img/logo-footer.svg
static/assets/img/logo.svg
