:root {
    --rojo-mc: #f6234e;
    --azul-mc: #109ef2;
    --naraja-mc: #ef5734;
    --azul-st: #1b2838;
    --gris-nv: #2c2c2c;
    --gris-ln: #8e8e8e;
    --gris-bk: #d9d9d9;
    --negro-bg: #121212;
    --blanco-t:#ffffff;
    --verde-rz: #44d62d;
    --amarillo: #ebe600;
    --violeta:#9f01f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family:  'Lato', sans-serif;
    background-color: var(--azul-st);
}



ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none; 
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

main{
    min-height: calc(100vh - 100px);    /*Main ocupa el 100% del visual height - 100 px para el footer*/
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-st);

}

.navbar{
    background: var(--gris-nv);
}

.navbar-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    padding: 1rem;
    border-bottom: 1px solid var(--gris-ln);
    
}

.navbar-menu-mobile{
    color: var(--naraja-mc);
    border: 1px solid var(--blanco-t);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link{
    color: var(--naraja-mc);
    font-size: 2rem;
    animation: color-change 15s infinite; 
}

@keyframes color-change {
    0% { color: var(--naraja-mc); }
    15% { color:var(--rojo-mc); }
    30% { color: var(--amarillo); }
    45% { color: var(--verde-rz); }
    60% { color: var(--blanco-t); }
    75% { color: var(--azul-mc); }
    90% { color: var(--violeta); }
    100% { color: var(--naraja-mc); }
    
  }

.navbar-container{
    position: absolute;
    background: var(--gris-nv);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    z-index: 1;
}

.navbar-link{
    color: var(--blanco-t);
    font-size: 1.5rem;
}

#navbar-header:target .navbar-container{
    height: 300px;
}


#navbar-header:target .open{
    display: none;
}

#navbar-header:target .close{
    display: flex;
}

.close{
    display: none;
}

.search-icon{
    color: var(--blanco-t);
    font-size: 1.5rem;
}

/*-----------------Scroll------------------------------*/
img {
    width:100%;
    height:100%;
    object-fit: cover;
}

div .div-ofertas-right{
    justify-self: right;
}
 
div .div-ofertas-left{
    justify-self: left;
}

.main-oferta{
    max-width: 760px;
    min-height: 420px;
}

.scroll-gallery{
    
    max-height: 420px; /*Alto de la galeria*/
    /*border: 1px solid #1b2838;  Le agrega un borde al contenedor*/ 
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;

}

.scroll-gallery .item{
    /*min-width: 357px;  Toma solo un numero fijo de porcion de la pantalla*/
    min-width: 100%; /*Toma el total del ancho de la pantalla*/
    min-height: 31rem;  /*Alto de la gallery*/
    text-align: center;
    background-color: var(--azul-st);
    position: relative;
    margin-right: 2px;
}

.item-tag-price {
    color: var(--blanco-t);
    font-size: 2.2rem;
    margin-top: 26rem;
    margin-right: 1rem;
    right: 0;
    position: absolute;
    background-color: rgba(27, 22, 22, 0.6);
}

.scroll-gallery img { /*Aca le digo que haga un (scroll-snap-type: x mandatory) a los contenedores (img) de forma que queden al centro */
    scroll-snap-align: center;
}

.div-ofertas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--azul-st);
    padding: 0.5rem;
    color: var(--blanco-t);
    font-size: 2rem;
}
/*-------------------Scroll---------------------------*/


footer{
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10rem;
    min-width: 320px;
    
   
    background: var(--gris-nv);
}


.footer-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border-top: 1px solid var(--gris-ln);
    border-bottom: 1px solid var(--gris-ln);
}

.footer-div-left{
    display: flex;
    justify-self: left;
    align-items: center;
}

.footer-div-idioma{
    padding-left: 1rem;
    color: var(--blanco-t);
    font-size: 1.5rem;
}

.footer-div-right{
    justify-self: right;
}

.footer-logos-link{
    width: 9rem;
    display: flex;
    justify-content: space-between;
    color: var(--blanco-t);
    font-size: 2rem;
}

.footer-navbar-ul{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;   
}


@media (min-width: 760px){

    header{
        display: flex;
        justify-content: center;
        background-color: var(--gris-nv);
        border-bottom: 1px solid var(--gris-ln);
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        min-width: 760px; /*ancho de todo el navbar que oficia de header*/
    }
    
    .navbar-menu-mobile{
        display: none;
    }
    
    .navbar-container{
        height: auto;
        flex-direction: row;
        position: static;
        
    }

    .navbar-header{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 120px;
        padding: 1rem;
        border-bottom: none;
    }

/*
    .footer-conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .footer-section{
        
    }
*/
}

@media (min-width: 1100px){

    .navbar{
       min-width: 1100px; /*ancho de todo el navbar que oficia de header*/
    }

}

